.floatingdiv{
    justify-content: space-around;
    display: flex;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 17px;
    padding: 0px 8px 0px 0px;
    height: 4rem;
    

}
.floatingdiv>img{
    transform: scale(0.6);
}
.floatingdiv>span{
    padding-top: 20px;
    font-size: 16px;
    color: var(--black);
    font-family: sans-serif;
}